<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

<div th:replace="~{includes/bootstrap :: bootstrapMeta}" />
<title>Account Settings</title>
<div th:replace="~{includes/bootstrap :: bootstrapCSS}" />

</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Sidebar -->
		<div th:replace="~{/includes/navigation :: sidebar}"></div>
		<!-- End of Sidebar -->

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->

				<div th:replace="includes/navigation :: topbar"></div>

				<!-- End of Topbar -->

				<!-- #####  Begin Page Content ####### -->
				<div class="container-fluid">

					<!-- Page Heading -->
					<div
						class="d-sm-flex align-items-center justify-content-between mb-4">
						<h1 class="h3 mb-0 text-gray-800">Edit your profile</h1>

					</div>

					<!-- Content -->
					<div>

						<div class="row">
							<div class="col-md-4">
								<!-- TODO : fix picture sizing -->
								<div
									style="position: relative; overflow: hidden; padding-bottom: 100%;"
									class="mb-4">
									<a><img style="position: absolute; width: 100%"
										class="rounded"
										src="https://dummyimage.com/400x400/949494/e6e6e6&text=Your+Picture"
										alt=""></a>

									<!-- 										<img class="img-fluid card-img-top" -->
									<!-- 											style="position: absolute;" -->
									<!-- 											th:src="@{download(documentId=${recipe.document.id})}" -->
									<!-- 											alt=""> -->
								</div>
								<div class="input-group mb-3">
									<div class="custom-file">
										<form enctype="multipart/form-data" method="post"
											action="upload">
											<input type="file" class="form-control" id="inputGroupFile"
												name="uploadPicture"> <label
												class="custom-file-label" for="inputGroupFile01">Upload
												tasty picture</label>
										</form>
									</div>
								</div>
							</div>



							<div class="col-md-8">
								<div class="row"></div>
								<form class="user needs-validation" novalidate
									th:action="@{/updateUserName}" method="post">
									<div class="form-group">
										<h3>Change your username</h3>
										<input type="text" class="form-control form-control-user"
											name="userName"
											th:placeholder="${'Current username: '+ user.userName}"
											id="invalidCheck" required>
										<div class="valid-feedback">Looks good!</div>
										<button
											class="btn btn-primary btn-user btn-block col-md-4 mt-2"
											type="submit">Save new username</button>
									</div>




								</form>
								<hr />

								<form class="user needs-validation" novalidate
									th:action="@{/updateEmailAddress}" method="post">
									<div class="form-group">
										<h3>Change your email</h3>
										<input type="email" class="form-control form-control-user"
											name="emailAddress"
											th:placeholder="${'Current email: '+ user.emailAddress}"
											id="invalidCheck" required>
										<div class="invalid-feedback">Invalid email address!</div>

										<button
											class="btn btn-primary btn-user btn-block col-md-4 mt-2"
											type="submit">Save new email</button>
									</div>
									<!-- 									<div class="row"> -->

									<!-- 									</div> -->
								</form>
								<hr />
								<div class="row"></div>
								<form class="user needs-validation" novalidate
									th:action="@{/updatePassword}" method="post"
									oninput='password.setCustomValidity(password.value != passwordCheck.value ? "Passwords do not match." : "")'>
									<div class="form-group">
										<h3>Change your password</h3>
										<div class="form-group row">
											<div class="col-sm-6 mb-3 mb-sm-0">
												<input type="password"
													class="form-control form-control-user" name="password"
													placeholder="New Password" id="invalidCheck" required>
												<div class="invalid-feedback">Password must match!</div>
											</div>
											<div class="col-sm-6">
												<input type="password"
													class="form-control form-control-user" name="passwordCheck"
													placeholder="Repeat New Password" id="invalidCheck" required>
											</div>

										</div>
										<button
											class="btn btn-primary btn-user btn-block col-md-4 mt-2"
											type="submit">Save new password</button>
									</div>




								</form>
								<!-- create Account submit -->


								<div th:unless="${errorMessage}==null"
									th:utext="${errorMessage}"
									class="alert alert-danger mt-2 mb-2 text-center" role="alert"></div>
							</div>
						</div>
					</div>



					<div class="card-deck"></div>
				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<!-- Footer -->
			<div th:replace="includes/navigation :: footer"></div>
			<!-- End of Footer -->

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
					<button class="close" type="button" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">Select "Logout" below if you are ready
					to end your current session.</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button"
						data-dismiss="modal">Cancel</button>
					<a class="btn btn-primary" href="login.html">Logout</a>
				</div>
			</div>
		</div>
	</div>

	<!-- JS needs to move to bottom -->
	<div th:replace="~{includes/bootstrap :: bootstrapJS}" />

	<script>
		// Example starter JavaScript for disabling form submissions if there are invalid fields
		(function() {
			'use strict';
			window.addEventListener('load',
					function() {
						// Fetch all the forms we want to apply custom Bootstrap validation styles to
						var forms = document
								.getElementsByClassName('needs-validation');
						// Loop over them and prevent submission
						var validation = Array.prototype.filter.call(forms,
								function(form) {
									form.addEventListener('submit', function(
											event) {
										if (form.checkValidity() === false) {
											event.preventDefault();
											event.stopPropagation();
										}
										form.classList.add('was-validated');
									}, false);
								});
					}, false);
		})();
	</script>

	<!-- Expanding Form script -->
	<script type="text/javascript">
		(function($) {
			$(function() {

				var addFormGroup = function(event) {
					event.preventDefault();

					var $formGroup = $(this).closest('.form-group');
					var $multipleFormGroup = $formGroup
							.closest('.multiple-form-group');
					var $formGroupClone = $formGroup.clone();

					$(this).toggleClass(
							'btn-default btn-add btn-danger btn-remove').html(
							'<i class="fas fa-trash"></i>');

					$formGroupClone.find('input').val('');
					$formGroupClone.insertAfter($formGroup);

					var $lastFormGroupLast = $multipleFormGroup
							.find('.form-group:last');
					if ($multipleFormGroup.data('max') <= countFormGroup($multipleFormGroup)) {
						$lastFormGroupLast.find('.btn-add').attr('disabled',
								true);
					}
				};

				var removeFormGroup = function(event) {
					event.preventDefault();

					var $formGroup = $(this).closest('.form-group');
					var $multipleFormGroup = $formGroup
							.closest('.multiple-form-group');

					var $lastFormGroupLast = $multipleFormGroup
							.find('.form-group:last');
					if ($multipleFormGroup.data('max') >= countFormGroup($multipleFormGroup)) {
						$lastFormGroupLast.find('.btn-add').attr('disabled',
								false);
					}

					$formGroup.remove();
				};

				var countFormGroup = function($form) {
					return $form.find('.form-group').length;
				};

				$(document).on('click', '.btn-add', addFormGroup);
				$(document).on('click', '.btn-remove', removeFormGroup);

			});
		})(jQuery);
	</script>

</body>

</html>
