<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

<div th:replace="~{includes/bootstrap :: bootstrapMeta}" />
<title>Login</title>
<div th:replace="~{includes/bootstrap :: bootstrapCSS}" />

</head>

<body class="bg-gradient-primary">

	<div th:if="${param.logout}" class="alert alert-success">You have
		been logged out.</div>


	<div class="container">

		<!-- Outer Row -->
		<div class="row justify-content-center">
			<div class="col-xl-10 col-lg-12 col-md-9">
				<div class="card o-hidden border-0 shadow-lg my-5">
					<div class="card-body p-0">
						<!-- Nested Row within Card Body -->
						<div class="row">
							<div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
							<div class="col-lg-6">
								<div class="p-5">
									<div class="text-center">
										<h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
									</div>
									<form class="user" th:action="@{/login}" method="post">
										<div class="form-group">
											<input type="text" class="form-control form-control-user"
												id="username" name="username"
												placeholder="Enter Username ...">
										</div>

										<div class="form-group">
											<input type="password" class="form-control form-control-user"
												id="password" name="password" placeholder="Password">
										</div>

										<div class="form-group">
											<button class="btn btn-primary btn-user btn-block"
												type="submit">Login</button>
										</div>
										<!--  
										<div th:if="${param.error}" class="card border-left-warning h-100 py-2" role="alert">
											<div class="col mr-2">
												<i class="fas fa-exclamation-triangle "></i>
												Wrong Username or Password
											</div>
										</div> -->


										<div th:if="${param.error}" class="alert alert-warning"
											role="alert">Wrong Username or Password</div>

									</form>
									<div class="text-center">
										<a class="small" href="register.html">Create an Account!</a>
									</div>
									<div class="text-center">
										<a class="small" th:href="@{/}">Find recipe as a guest</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- JS needs to move to bottom -->
	<div th:replace="~{includes/bootstrap :: bootstrapJS}" />

</body>

</html>
