<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">


<div th:replace="~{includes/bootstrap :: bootstrapMeta}" />
<title>WhatToFood - Dashboard</title>
<div th:replace="~{includes/bootstrap :: bootstrapCSS}" />

<!-- JS needs to move to bottom -->
<div th:replace="~{includes/bootstrap :: bootstrapJS}" />

</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Sidebar -->
		<div th:replace="~{/includes/navigation :: sidebar}"></div>
		<!-- End of Sidebar -->

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->
				
				<div th:replace="includes/navigation :: topbar"></div>
				
				<!-- End of Topbar -->

				<!-- #####  Begin Page Content ####### -->
				<div class="container-fluid">

					<!-- Page Heading -->
					<div
						class="d-sm-flex align-items-center justify-content-between mb-4">
						<h1 class="h3 mb-0 text-gray-800">Recipes</h1>
						
						<a href="fillTestData"
							class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
							class="fas fa-download fa-sm text-white-50"></i> Fill Data</a>
					</div>

					<!-- Content -->

					<div class="card-deck">

						<!-- Basic Card Example -->

						<div class="col-xl-4 col-md-6 col-sm-12 mb-4 px-0"
							th:each="recipe : ${recipes}">

							<div class="card shadow ">
								<!-- Image -->
								<div
									style="position: relative; overflow: hidden; padding-bottom: 100%;">
									<a th:href="@{/showRecipe(id=${recipe.id})}"><img
										style="position: absolute;"
										src="https://images.unsplash.com/photo-1559562649-21c0be156e0d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60"
										alt=""></a>

									<!-- 										<img class="img-fluid card-img-top" -->
									<!-- 											style="position: absolute;" -->
									<!-- 											th:src="@{download(documentId=${recipe.document.id})}" -->
									<!-- 											alt=""> -->
								</div>
								<!-- card body -->
								<div class="card-body">
									<div class="row">
										<div class="col-8">
											<a class="m-0 font-weight-bold text-primary"
												th:href="@{/showRecipe(id=${recipe.id})}"
												th:text="${recipe.title}">
												</a> by <a
												th:href="@{/showUser(id=${recipe.author.id})}"
												th:text="${recipe.author.userName}"></a>
										</div>
										<div class="col-4 text-right">
											<a href="#" class="btn btn-danger btn-circle"> <i
												class="fas fa-heart"></i>
											</a>
										</div>
									</div>
									<div class="row">
										<div th:each="categorie : ${recipe.categories}">
											<div class="ml-1 mr-1">
												<a href="#" class="badge badge-info"
													th:text="${categorie.title}"></a>
											</div>
										</div>
									</div>


								</div>

							</div>











						</div>
					</div>
					<!-- /.container-fluid -->

				</div>
				<!-- End of Main Content -->

				<!-- Footer -->
				<footer class="sticky-footer bg-white">
					<div class="container my-auto">
						<div class="copyright text-center my-auto">
							<span>Copyright &copy; Your Website 2019</span>
						</div>
					</div>
				</footer>
				<!-- End of Footer -->

			</div>
			<!-- End of Content Wrapper -->

		</div>
		<!-- End of Page Wrapper -->

		<!-- Scroll to Top Button-->
		<a class="scroll-to-top rounded" href="#page-top"> <i
			class="fas fa-angle-up"></i>
		</a>

		<!-- Logout Modal-->
		<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Ready to
							Leave?</h5>
						<button class="close" type="button" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">Select "Logout" below if you are
						ready to end your current session.</div>
					<div class="modal-footer">
						<button class="btn btn-secondary" type="button"
							data-dismiss="modal">Cancel</button>
						<a class="btn btn-primary" href="login.html">Logout</a>
					</div>
				</div>
			</div>
		</div>

		<!-- Bootstrap core JavaScript-->
		<script src="vendor/jquery/jquery.min.js"></script>
		<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

		<!-- Core plugin JavaScript-->
		<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

		<!-- Custom scripts for all pages-->
		<script src="js/sb-admin-2.min.js"></script>

		<!-- Page level plugins -->
		<script src="vendor/chart.js/Chart.min.js"></script>

		<!-- Page level custom scripts -->
		<script src="js/demo/chart-area-demo.js"></script>
		<script src="js/demo/chart-pie-demo.js"></script>
</body>

</html>
