<!DOCTYPE html>
<html lang="en">

<head>

<div th:replace="~{includes/bootstrap :: bootstrapMeta}" />
<title>WTF - Register</title>
<div th:replace="~{includes/bootstrap :: bootstrapCSS}" />

</head>

<body class="bg-gradient-primary">

	<div class="container">

		<div class="card o-hidden border-0 shadow-lg my-5">
			<div class="card-body p-0">
				<!-- Nested Row within Card Body -->
				<div class="row">
					<div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
					<div class="col-lg-7">
						<div class="p-5">
							<div class="text-center">
								<h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
							</div>
							<!-- Register forum -->
							<form class="user needs-validation" novalidate
								th:action="@{/register}" method="post"
								oninput='password.setCustomValidity(password.value != passwordCheck.value ? "Passwords do not match." : "")'>
								<div class="form-group">
									<input type="text" class="form-control form-control-user"
										name="userName" placeholder="Username" id="invalidCheck"
										required>
									<div class="valid-feedback">Looks good!</div>
								</div>
								<div class="form-group">
									<input type="email" class="form-control form-control-user"
										name="emailAddress" placeholder="Email Address"
										id="invalidCheck" required>
									<div class="invalid-feedback">Invalid email address!</div>
								</div>
								<div class="form-group row">
									<div class="col-sm-6 mb-3 mb-sm-0">
										<input type="password" class="form-control form-control-user"
											name="password" placeholder="Password" id="invalidCheck"
											required>
										<div class="invalid-feedback">Password must match!</div>
									</div>
									<div class="col-sm-6">
										<input type="password" class="form-control form-control-user"
											name="passwordCheck" placeholder="Repeat Password"
											id="invalidCheck" required>

									</div>
								</div>
								<!-- create Account submit -->
								<button class="btn btn-primary btn-user btn-block" type="submit">
									Register Account</button>

								<div th:unless="${errorMessage}==null"
									th:utext="${errorMessage}"
									class="alert alert-danger mt-2 mb-2 text-center" role="alert"></div>

							</form>
							<hr>
							<div class="text-center">
								<a class="small" href="login.html">Already have an account?
									Login!</a>
							</div>
							<div class="text-center">
								<a class="small" th:href="@{/}">Find recipe as a guest</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!-- Java Script Validation -->
	<script>
		// Example starter JavaScript for disabling form submissions if there are invalid fields
		(function() {
			'use strict';

			window.addEventListener('load',
					function() {
						// Fetch all the forms we want to apply custom Bootstrap validation styles to
						var forms = document
								.getElementsByClassName('needs-validation');
						// Loop over them and prevent submission
						var validation = Array.prototype.filter.call(forms,
								function(form) {
									form.addEventListener('submit', function(
											event) {
										if (form.checkValidity() === false) {
											event.preventDefault();
											event.stopPropagation();
										}
										form.classList.add('was-validated');
									}, false);
								});
					}, false);
		})();
	</script>

	<!--  JS temporaly  here, should be at bottom of html to speed loading time-->
	<div th:replace="~{includes/bootstrap :: bootstrapJS}" />
</body>

</html>
